.main {
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.menu {
    padding: 100px 20px 20px 20px;
    width:25%;
    border-right: solid #3e387a 2px;
}

.menu-head {
    display: flex;
    margin-bottom: 30px;
}

.menu-links {
    font-size: smaller;
    padding: 10%;
    text-align: left;
}

.menu-link {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #3e387a;
}

.content {
    width: 80%;
    background-color:#8ef3f7;
}

.header-img {
    width: 100%;
}

.story {
    padding: 10% 20% 0% 10%;
    text-align: left;
}

.board {
    padding: 10% 20% 0% 10%;
    text-align: left;
}

.contact {
    padding: 10% 20% 0% 10%;
    text-align: left;
}